<app-navbar></app-navbar>
<div class="card-group container mt-5">

  <div class="card">
    <a href="CalculadoraDeAhorro">
      <img src="../../assets/img/ahorro1.jpg" class="card-img-top" style="height:280px" alt="...">
      <div class="card-body">
        <h3 class="card-title">Calculadora de Ahorro</h3>
        <p class="card-text pt-3">Podrás saber cuando tienes que separar para cada tipo de gasto. Esto te llevará a una
          vida con unas finanzas organizadas y sin deudas</p>
      </div>
    </a>
  </div>

  <div class="card">
    <a href="GestorDeGastos">
      <img src="../../assets/img/ahorro2.jpg" class="card-img-top" style="height:280px" alt="...">
      <div class="card-body">
        <h3 class="card-title">Gestor de gastos</h3>
        <p class="card-text pt-3">¿Querés saber en qué se te va el dinero? ¡Si llevas el apunte de tus gastos vas a
          poder conocer donde se va el mismo! Esta es una herramienta fundamenta para cualquier tipo de objetivo
          financiero.</p>
      </div>
    </a>
  </div>

  <div class="card">
    <a href="Millonario">
      <img src="../../assets/img/ahorro.jpg" class="card-img-top" style="height:280px" alt="...">
      <div class="card-body">
        <h3 class="card-title">Quiero ser millonario</h3>
        <p class="card-text pt-3">Podrás saber cuanto dinero tendrías que ganar para llegar a ser millonario y cuanto
          tiempo te demoraras</p>
      </div>
    </a>
  </div>
</div>
